<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<div class = "message">
  <div class = "message-name">
    <p>大場  望</p>
  </div>
  <div class ="message-date">
    <i>18. sJuly 2015</i>
  </div>
  <div class ="message-content">
    <p>23歳のなつきさん、いかがお過ごしですか？
今日は晴れでしょうね、僕は晴れ男なのでこのメッセージにもその力が働いていることを望みます、望だけに。

2002年に行われた日韓Ｗ杯を覚えていますか？その時話題になったイケメンサッカー選手といえば、そうイングランド代表のデイビット・ベッカム。“ベッカムヘアー”が一斉を風靡したので、もしかしたらなつきさんの周りにも髪型を真似たサッカー少年がいたのでは？

何故ベッカムの話を持ってきたかというと、彼がスペインのレアル・マドリードでプレーすることになった時、背番号として選んだ番号が“23”であったからです。23歳という年齢に関係する理由があったのかといえば答えは否、アメリカのプロバスケットボール選手、マイケル・ジョーダンのファンであった彼は、バスケットボール界のレジェンドの番号を拝借したのです。ジョーダンという名くらいは耳にしたことがありますよね？

さて、そのジョーダンがその後チームの永久欠番となる“23”を背にすることにした背景には、尊敬する父の存在がありました。父の番号は“45”、子供の頃手も足も出なかった父の、せめて半分でも上手くなりたいという気持ちから、デビューした際に“23”番を選んだのです。ジョーダンはその後言うまでもなく父という大きな目標を飛び越え、世界一のプレーヤーへと成長していきます。

なつきさんも、子供の頃には到底追いつかないと思っていた憧れの人に、23歳になるとものすごく近づいていたり、もしくは既に追い抜いてしまってるのではないでしょうか。もしくは、新しい環境で、将来の目標にするような素敵な人にたくさん出会ったのではないでしょうか。23歳という年齢とは、そんな年頃なのではないかと勝手に妄想が膨らみました。

ベッカムに話を戻すと、彼は23歳の時に出場したフランスW杯で、サッカー人生における最大の失態を犯しました。相手選手に報復行為を加えレッドカード退場となり、チームは1人少なくなったこともあって宿敵アルゼンチンとの戦いに敗れ去るのです。ベッカムはその後国内外から散々非難されますが、その2年後には代表チームのキャプテンに就任し、信頼と人気を自らの活躍で取り戻し、そして日本へとやってくるわけです。

なつきさんも23歳になり、1人では到底乗り越えられないような壁に直面することもあるかもしれません。でも、心配しないでください。それも未来から振り返ればきっとヒューマンストーリーの“挫折編”として語られるだけでしょう。僕にはなつきさんが将来ますます活躍している姿が見えています。そして何より、いつでも支えてくれる魅力的な方がそばにいますしね。

23歳のなつきさん！元気マルマルモリモリ前進あるのみ〜！！たまに後退してもいいよ！！w</p>
  </div>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:content) %></th>
      <th><%= model_class.human_attribute_name(:send_date) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.id, post_path(post) %></td>
        <td><%= post.name %></td>
        <td><%= post.content %></td>
        <td><%= post.send_date %></td>
        <td><%=l post.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_post_path(post), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>
